.texture {
    height: 50px;
    width: 50px;
    transform: translate(0%, -20%);
}


.amount {
    width: 50px;
    height: 12px;
    transform: translate(0%, 240%);
    position: relative;
    border: none;
    outline: none;
    padding: 3px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: inset 3px 3px 3px rgb(0 0 0 / 50%);
    font-weight: bold;
    font-family: Calibri;
    margin-bottom: 20px;
    text-align: center;
}

.item_recipe_display {
	position: relative;
	width: 8%;
	display: inline-block;
	text-align: center;
	height: 150px;
	border-radius: 3px;
	background: linear-gradient(165deg, rgb(19, 48, 136) 19%, rgb(19, 78, 180) 20%, rgb(19, 78, 180) 80%, rgba(19, 48, 136) 81%);
	box-shadow: 5px 5px rgba(0, 0, 0, .5);
	cursor: pointer;
	min-width: 100px;
	overflow: hidden;
	margin-bottom: 10px;
}

.item_recipe {
    position: relative;
    width: 65px !important;
    text-align: center;
    margin: 5px;
    height: 80px !important;
    border-radius: 3px;
    background: linear-gradient(165deg, rgb(19, 48, 136) 19%, rgb(19, 78, 180) 20%, rgb(19, 78, 180) 80%, rgba(19, 48, 136) 81%);
    box-shadow: 2px 2px rgb(0, 29, 80), 5px 5px rgba(0, 0, 0, .5);
    display: inline-block;
    /* transition-duration: .5s; */

    font-size: 10px !important;
}

.recipes {
	text-align: center;
	overflow: hidden;
}

.item_recipe span {
    position: absolute;
    transform: translate(-50%, -50%) scale(.5) !important;
    left: 50%;
    top: 30%;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	margin: 0px;
	padding: 20px;
	background-color: rgb(0, 0, 44);
	background-image: url(images/stars.png);
}

.item_recipe_display {
	position: relative;
	width: 8%;
	display: inline-block;
	text-align: center;
	height: 150px;
	border-radius: 3px;
	background: linear-gradient(165deg, rgb(19, 48, 136) 19%, rgb(19, 78, 180) 20%, rgb(19, 78, 180) 80%, rgba(19, 48, 136) 81%);
	box-shadow: 5px 5px rgba(0, 0, 0, .5);
	cursor: pointer;
	min-width: 100px;
	overflow: hidden;
	margin-bottom: 10px;
}


h2 {
    text-align: center;
    left: 50%;
    bottom: 30%;
    font-family: Calibri;
    color: white;
    font-weight: bold;
    margin: 0px;
    width: 95%;
    text-shadow: -1px -1px 0 rgb(0 0 0), -1px 0px 0 rgb(0 0 0), 1px -1px 0 rgb(0 0 0), 1px 0px 0 rgb(0 0 0), -1px 1px 0 rgb(0 0 0), 0px 1px 0 rgb(0 0 0), 0px -1px rgb(0 0 0), 1px 1px 0 rgb(0 0 0);
}

.total {
    text-align: center;
    align-items: center;
    position: relative;
}

.calculate {
    text-align: center;
    align-items: center;
    position: relative;
    left: 27%;
    bottom: 10%;
    font-family: Calibri;
    color: white;
    font-weight: bold;
    margin: 05px;
    width: 20%;
    text-shadow: -1px -1px 0 rgb(0 0 0), -1px 0px 0 rgb(0 0 0), 1px -1px 0 rgb(0 0 0), 1px 0px 0 rgb(0 0 0), -1px 1px 0 rgb(0 0 0), 0px 1px 0 rgb(0 0 0), 0px -1px rgb(0 0 0), 1px 1px 0 rgb(0 0 0);
}

.item {
    position: absolute;
    transform: translate(-50%, -70%);
    left: 50%;
    bottom: 37%;
    font-family: Calibri;
    color: white;
    font-weight: bold;
    margin: 0px;
    width: 95%;
    text-shadow: -1px -1px 0 rgb(0 0 0), -1px 0px 0 rgb(0 0 0), 1px -1px 0 rgb(0 0 0), 1px 0px 0 rgb(0 0 0), -1px 1px 0 rgb(0 0 0), 0px 1px 0 rgb(0 0 0), 0px -1px rgb(0 0 0), 1px 1px 0 rgb(0 0 0);
}

.specificamount {
    position: absolute;
    transform: translate(-50%, -70%);
    left: 50%;
    bottom: -10%;
    font-family: Calibri;
    color: white;
    font-weight: bold;
    margin: 0px;
    width: 95%;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9ch;
    text-shadow: -1px -1px 0 rgb(0 0 0), -1px 0px 0 rgb(0 0 0), 1px -1px 0 rgb(0 0 0), 1px 0px 0 rgb(0 0 0), -1px 1px 0 rgb(0 0 0), 0px 1px 0 rgb(0 0 0), 0px -1px rgb(0 0 0), 1px 1px 0 rgb(0 0 0);
}
